@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'BebasNeue';
    font-weight: 400;
    src: url(./fonts/BebasNeue-Regular.ttf) format('ttf');
  }
  a {
    text-decoration: underline;
    color: #0062fe;
  }
}

@layer utilities {
  .pause>ul {
    animation-play-state: paused;
  }
}